/* * {
    padding: 0;
    margin: 0;
} */

nav {
    padding: 10px;
    background-color: #DBF227;
    align-content: space-between;
    /* margin: 0px; */
}

nav .cu {
    float: right;
}

nav a {
    text-decoration: none;
    margin-left: 5px;
    /* padding: 20px; */
    background-color: #042940;
    color: #D6D58E;
}

#lorem {
    background-color: #042940;
    margin: 100px;
    border-left: 5px solid #DBF227;
    padding: 10px;
    border-radius: 3px;
    color: #D6D58E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.margin {
    border: 3px solid sienna;
    margin: 50px 150px 50px 80px;

/* If the margin property has four values: */
/* margin: 25px 50px 75px 100px;
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px */
}

.auto {
    width: 200px;
    border: 2px solid seagreen;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#inherit {
    border: 3px solid #042940;
    margin: 0px 0px 0px 100px;
}

p.ex1 {
    margin: inherit;
}

.h1 {
    margin: 0px 0px 50px 0px;
}

.h2 {
    margin: 20px 0px 0px 0px;
}

.divizinha {
    border: 2px solid #042940;
    /* padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px; */
    padding: 50px 70px;
}

#bosta {
    border: 2px solid #0b0c0c;
    /* padding: inherit; */
}

.padding-aumenta {
    width: 300px;
    padding: 25px;
    background-color: cadetblue;
}

.padding-aumenta-concertado {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    background-color: aquamarine;
}

.alt-larg {
    height: 200px;
    width: 70%;
    background-color: #D6D58E;
    padding: 25px 30px;
}

.max-width {
    max-width: 200px;
    max-height: 200px;
    /* width: 100%; */
    height: 500px;
    background-color: aquamarine;
}

.boxmodel {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.boxmodel-2 {
    width: 320px;
    border: 5px solid seagreen;
    padding: 10px;
    margin: 0;
}

.outline {
    margin: 30px;
    /* outline-style: outset;
    outline-width: 10px;
    outline-color: #042940; */
    outline: #042940 solid 10px;
    outline-offset: 10px;
}

.text {
    color: green;
}

.txt-bg {
    background-color: #0b0c0c;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.justify {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
    text-align: justify;
}

.limitizin {
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    border: 1px solid black;
}

.right-l {
    text-align-last: right;
}

.left-l {
    text-align-last: left;
}

.justify-l {
    width: 500px;
    /* height: 200px; */
    padding: 10px;
    border: 1px solid black;
    text-align-last: justify;
}