/* * {
    padding: 0;
    margin: 0;
} */

header {
    padding: 10px;
    background-color: bisque;
    align-content: space-between;
}

#lorem {
    background-color: #042940;
    margin: 100;
    border-left: 5px solid #DBF227;
    padding: 10px;
    border-radius: 3px;
    color: #D6D58E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.margin {
    border: 3px solid sienna;
    margin: 50px 150px 50px 80px;

/* If the margin property has four values: */
/* margin: 25px 50px 75px 100px;
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px */
}

.auto {
    width: 200px;
    border: 2px solid seagreen;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#inherit {
    border: 3px solid #042940;
    margin: 0px 0px 0px 100px;
}

p.ex1 {
    margin: inherit;
}
