@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

.seita {
    font-size: 50px;
    text-align: center;
    font-family: "Averia Serif Libre";
    font-style: italic;
    color: #ff2525;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}